body{font-family:Roboto, Helvetica, sans-serif;
font-size: 48px;
font-weight: 900;
display: flex;
gap: 100px
}

form{
  font-size: 32px;
font-weight: 500;
}

img{width: 30vw;
height: auto;
}

.odin_container{
    position: absolute; 
  top: 20px;
  z-index: 10;
}

.dark_background{
    position: absolute;
    top: 200px;
    left: 0;
    background: black;
  opacity: 0.6;
  width: 100%;
  height: 300px;
  
}

.odin_pic{
    position: absolute;
    display: flex;
flex-direction: column;
margin: 0;
}


button {
    margin: 100px;
  padding: 25px 100px;
  font: bold 0.8em sans-serif;
  color: white;
  border-radius: 20px;
  background: #596D48;
  
}

.right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  ;
}
.item{

  width: 1200px;
  
}

input {
  border: 2px solid #000;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}